/* ------General------- */
body {
    background-color: #0E090D;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

h1 {
    /* font-family: ; */

}

h2 {}


/* ------navbar section------ */
nav{
    padding: 4rem 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    display: flex;
    column-gap: 30px;
}
.nav-links a{
    color:rgb(179, 176, 176);
}
.nav-links a:hover{
    color:white;
}

/* ------Hero Section ----------- */
.hero-grid{
    display: grid;
    grid-template-columns: 1.2fr 2fr 1.2fr;
    /* place-items: center; */
}
.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.image-container{
    position: relative;
    width: 300px;
    
    padding: 10%;
    margin: auto;
    border-radius: 50%;
    background-color: #FB4866;
}
.image-container img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); */
}



/* -------Works section ------ */


/* -----About section ------ */